@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.drop-x0020-shadow {
  fill: none;
}

.outer-x0020-glow-x0020-5-x0020-pt {
  fill: none;
}

.blue-x0020-neon {
  fill: none;
  stroke: #8aacda;
  stroke-width: 7;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.chrome-x0020-highlight {
  fill: url"#svgid-1";
  stroke: #fff;
  stroke-width: 0.3629;
  stroke-miterlimit: 1;
}

.jive-gs {
  fill: #fd0;
}

.alyssa_gs {
  fill: #a6d0e4;
}

.st0 {
  fill: #673200;
}

.st1 {
  fill: #ffaaca;
}

.st2 {
  fill: #c65b00;
}

.st3 {
  fill: none;
  stroke: #000;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.bear {
  width: 300px;
}

#left-eye {
  animation: eyes 1s infinite alternate;
}

#right-eye {
  animation: eyes 1s infinite alternate;
}

@keyframes eyes {

  0% { transform: translate(0, 0); }

  100% { transform: translate(20px, 0); }

}

.bear:hover #left-eye {
  transform: translate(20px, 0);
  transition: all 2s linear;
}

.bear:hover #right-eye {
  transform: translate(20px, 0);
  transition: all 2s linear;
}

@keyframes ears {

  0% { transform: translate(0, 0); }

  100% { transform: translate(0, 15px); }

}

.bear:hover #left-ear {
  transform: translate(0, 15px);
  transition: all 1s linear;
  animation: ears 1s infinite alternate;
}

.bear:hover #right-ear {
  transform: translate(0, 15px);
  transition: all 1s linear;
  animation: ears 1s infinite alternate;
}
